body,html
  margin: 0
  padding: 0
  display: flex
  height: 100%
  width: 100%
  justify-content: center
  align-items: center
  user-select: none
  -webkit-tap-highlight-color: transparent
  overflow: hidden

body
  position: relative
  // margin-top: 160px
