.bio-main
  width: 100%
  height: 100%
  flex-direction: column
  font-family: 'Lato', sans-serif
  font-family: 'Roboto', sans-serif
  color: rgba(250, 250, 250, 0.55)
  font-weight: 400
  font-family: 'Montserrat', sans-serif
  font-size: 18px
  position: relative
  overflow-y: auto
  position: absolute
  left: 0
  top: 0
  display: flex
  justify-content: center
  align-items: center
  .bio-text
    text-align: justify
    background: rgba(20,20,20,0.35)
    margin: 0
    width: 60%
    padding-left: 20%
    padding-right: 20%
