
.contact-main
  width: 100%
  height: 100%
  flex-direction: column
  font-family: 'Lato', sans-serif
  font-family: 'Roboto', sans-serif
  color: rgba(0, 0, 0, 0.83)
  font-weight: 400
  font-family: 'Montserrat', sans-serif
  font-size: 18px
  position: relative
  .contact-wrapper
    margin-top: 15%
    width: 100%
    height: 100px
    background: rgba(255,255,255,0.15)
    padding: 10px
    display: flex
    align-items: center
    .contact-text
      user-select: text
      margin-left: 50%
      p
        margin-left: 10px

        &:first-child
          font-weight: 400
          font-size: 25px
  // .contact-image
  //   position: absolute
  //   top: 10px
  //   bottom: 10px
  //   left: 10px
  //   right: 50%
  //   // background-image: url("img/j_pilt.jpg")
    // background-image: url("https://ln.sync.com/dl/6f387e5d0/wspmqi96-89w6zjp4-whnvcmrn-rivsx8zk")
    // background-repeat: no-repeat
    // background-position: right
    // background-size: contain
