@media screen and (max-width: 1000px)
  .header
    .header-nav
      display: none
  .header-ham-wrap
    display: flex
  .players-wrapper-main
    .player-section
      width: 70%
  .contact-main
    .contact-wrapper
      // margin-top: 35%
      // justify-content: center
      // .contact-text
      //   margin-left: 0

@media screen and (max-width: 815px)
  .header-nav
    .home-btn
      display: none

@media screen and (max-width: 750px)
  .header
    .left-author
      h1
        font-size: 25px
      .sub-author
        h3
        left: 40px

@media screen and (max-width: 700px)
  .multimedia-main
    .v-player-section
      .v-player-main
        .v-controls
          min-width: 100px

@media screen and (max-width: 650px)
  .contact-main
    .contact-wrapper
      margin-top: -20%
      .contact-text
        margin-left: 5%


  .players-wrapper-main
    padding-left: 0px
    padding-right: 0px
    // margin: 0
    align-items: center
    .player-section
      width: 80%
      .player-main
        // width:

  .bio-main
    font-size: 16px
    .bio-text
      width: 80%
      padding-left: 10%
      padding-right: 10%

  .performances-main
    .events-body
      font-size: 15px
    padding-right: 0
    .performances-heading
      width: 100%
    .events-body
      width: 100%

@media screen and (max-width: 600px)
  .players-wrapper-main
    .player-section
      width: 90%

  .bio-main
    .bio-text
      width: 90%
      padding-left: 5%
      padding-right: 5%

  .multimedia-main
    margin-left: 0
    padding-right: 40px
    padding-left: 40px
    .v-player-section
      .v-player-main
          margin-left: 0

  .performances-main
    .events-body
      font-size: 14px

@media screen and (max-width: 550px)
  .main-wrap
    width: 80%

@media screen and (max-width: 500px)
  .players-wrapper-main
    padding-bottom: 10px
    .player-main
      width: 99%

@media screen and (max-width: 480px)
  .players-wrapper-main
    .player-section
      // width: 95%
      width: 100%

  .bio-main
    .bio-text
      width: 96%
      padding-left: 2%
      padding-right: 2%
      margin-top: 10%
      text-align: justify

@media screen and (max-width: 450px)
  .players-wrapper-main
    .player-main
      .info-section
        .info-time
          padding-right: 10px

@media screen and (max-width: 400px)
  .players-wrapper-main
    .player-section
      width: 99%

  .performances-main
    .events-body
      font-size: 13px

@media screen and (max-width: 370px)
  .performances-main
    .events-body
      .events-body-main
        .events-left
          width: 25%
        .events-mid
          width: 50%
        .events-right
          width: 25%

@media screen and (max-width: 350px)
  .main-wrap
    width: 100%
  .header
    height: 60px
    .left-author
      h1
        font-size: 20px
        margin-top: 5px
        margin-left: 5px
      .sub-author
        h3
          font-size: 12px
        top: 15px
        left: 20px
    .header-ham-wrap
      top: 0

@media screen and (max-width: 300px)
  .players-wrapper-main
    .player-main
      .info-section
        .info-time
          display: none

@media screen and (max-width: 280px)
  .header
    .left-author
      display: none

@media screen and (max-height: 500px)
  .header-overlay-buttons
    .mobile-button-type
      margin: 15px 20px 15px 20px
    .mobile-home-btn
      margin-top: 50px

@media screen and (max-height: 430px)
  .header-overlay-buttons
    .mobile-button-type
      margin: 10px 20px 10px 20px
    .mobile-home-btn
      margin-top: 50px

@media screen and (max-height: 320px)
  .header-overlay-buttons
    .mobile-button-type
      margin: 4px 20px 4px 20px
    .mobile-home-btn
      margin-top: 50px

@media screen and (max-width: 1000px)
  .contact-main
    font-size: 16px

@media screen and (max-width: 600px)
  .contact-main
    // font-size: 14px

@media screen and (max-width: 550px)
  .contact-main
    .bio-image
      z-index: -5
      opacity: 0.4
      height: 100%
      top: 0
      right: 0
      left: 0
      background-size: cover
    .bio-text
      margin-left: 0
      margin-top: 20%
