@media screen and (max-width: 550px)
  .main-wrap
    width: 80%

@media screen and (max-width: 500px)
  .players-wrapper-main
    padding-bottom: 10px
    .player-main
      width: 99%

@media screen and (max-width: 450px)
  .players-wrapper-main
    .player-main
      .info-section
        .info-time
          padding-right: 10px

@media screen and (max-width: 350px)
  .main-wrap
    width: 100%

@media screen and (max-width: 300px)
  .players-wrapper-main
    .player-main
      .info-section
        .info-time
          display: none
