.bio-main.tab-hidden(onclick="")
  .bio-wrapper-outer
    .bio-wrapper-inner
      .bio-img
      
      .bio-text
        p
          | Johanna Kivimägi (1992) started her composition studies in 2011 in Estonian Academy of Music and Theatre with 
          | Tõnu Kõrvits and Galina Grigorjeva and recieved her Masters degree in 2018 in electroacoustic composition studying 
          | with Malle Maltis. In 2013 she studied at Iceland Arts Academy with Anna Thorvaldsdottir. After graduation Kivimägi 
          | spent a year doing internships with composers Kent Olofsson in Malmö, Sweden and Pall Ragnar Pallson in Reykjavik, Iceland. 
          | In 2017 she participated in “Nord & Mix” workshop about spatial soundsphere (ambisonics) in Lithuatian Academy of Music and in 
          | 2019 in “SoundMine” course for composition and live electronics in Bilzen (teachers Wim Henderickx, Jorrit Tamminga and Diederik 
          |  Glorieux).
          br
          br
          | Kivimägi has written works for choirs, ensembles, solo instruments, sympohony orchestra and electroacoustic and electronic 
          | pieces. She has made music for dance performances and videos. Her music has been performed in festivals in Estonia at 
          | "Estonian Music Days", "Autumn Festival of Estonian Academy of Music and Theatre", “Treffpunkt", “TaHe" and "Old Town Music Days", 
          | at “InZonic 2017: Immersive Future” in ZKM, Karlsruhe, "New York City Electroacoustic Music Festival 2018", "Gaudeamus Muziekweek" 
          | and "Cultura Nova" in Netherlands. Her music has been part of exhibitions in Tallinn, London, Reykjavik, Paris, Rome, Venice and Vienna. 
