.bio-main.tab-hidden(onclick="")
  .bio-text
    p 
      | Johanna Kivim채gi is currently studying electroacoustic composition
      | in Estonian Academy of Music and Theatre in Masters with 
      | Malle Maltis. She graduated her bachelor studies in 2015 
      | with teachers T천nu K천rvits and Galina Grigorjeva. In 2013-2014 
      | she studied in Iceland Academy of the Arts with Anna Thorvaldsdottir and 
      | Pall Ragnar Pallson. She has written music for different groups 
      | (choirs, ensembles, solo pieces, electroacoustic pieces etc.) and 
      | an important part of her works are collaborations. 
      //- | She has worked 
      //- | together with artists and choreographs (M.M채etamm, J.Samma, 
      //- | L.Drubingy, N.Mazic etc.) and made music for videos, installations 
      //- | and dance performances.
