.bio-main.tab-hidden(onclick="")
  .bio-text
    p 
      | Johanna Kivimägi has graduated and received a Masters degree in Estonian Academy of Music and Theatre 
      | (Eesti Muusika- ja Teatriakadeemia) in electroacoustic composition with Malle Maltis. 
      | She finished her bachelor studies with Tõnu Kõrvits and Galina Grigorjeva in 2015 in composition.
      | In 2013 - 2014 she studied in Iceland Academy of The Arts (Lístaháskoli Islands) with Anna Thorvaldsdottír
      | and Páll Ragnar Pálsson.  She did an internship with composer Kent Olafsson in Malmö Music Academy in the fall
      | of 2018 and is currently based in Reykjavík where she is doing an internship with composer Páll Ragnar Pálsson.
      | Johanna Kivimägi has written music for choirs, ensembles, solo instruments, electroacoustic and electronic music.
      | Important part of her works are collaborations.
