.bio-main.tab-hidden(onclick="")
  .bio-wrapper-outer
    .bio-wrapper-inner
      .bio-img
      .bio-text
        p 
          | Johanna Kivimägi (1992) started her composition studies in 2011 in Estonian Academy of Music and Theatre 
          | (Eesti Muusika- ja Teatriakadeemia) with Tõnu Kõrvits and Galina Grigorjeva. She spent a year in Reykjavik 
          | improving her skills in Iceland Arts Academy (Listahaskoli Islands) under the guidance of Pall Ragnar Pallson 
          | and Anna Thorvaldsdottir. In 2016 she continued her studies in Estonian Academy of Music and Theatre with Malle 
          | Maltis and recieved her Masters degree in 2018 in electroacoustic composition. In the fall of 2018 she studied 
          | at Music Academy of Malmö as a student of Kent Olofsson and is currently doing internship with composer Páll 
          | Ragnar Pállson in Reykjavik. 
          br
          br
          | Johanna Kivimägi has written works for choirs, ensembles, solo instruments, she has written electroacoustic and 
          | electronic pieces. A big part of her works are collaborations with artists from different fields. She has written 
          | music for installations, videos, animation videos and dance performances. Her works have been performed in Estonian 
          | Music Days, Autumn Festival of Estonian Academy of Music and Theatre, Immersive Future ZKM in Karlsruhe, New York 
          | City Electroacoustic Music Festival, Treffpunkt, Gaudeamus Muziekweek and Commute festival. Her music has been part 
          | of exhibitions and performances in Tallinn, London, Reykjavik, Paris, Venice and Vienna. 
          br
          br
          | In her works she seeks for smoothness and natural progression. Kivimägi works with acoustic and electronic 
          | tools and tries to find the symbiosis between them. It is important for her to create a new world of sounds that 
          | touches the listener in different ways and creates a new state of mind.
