.bio-main.tab-hidden(onclick="")
  .bio-text
    //- p Johanna Kivimägi
    //- p johanna.kivimagi@gmail.com
    p 
      | Johanna Kivimägi is currently studying electroacoustic 
      | in Estonian Academy of Music and Theatre in Masters with 
      | Malle Maltis. She graduated her bachelor studies in 2015 
      | with teachers Tõnu Kõrvits and Galina Grigorjeva. In 2013-2014 
      | she studied in Iceland Academy of the Arts with Anna Thorvaldsdottir 
      | Pall Ragnar Pallson. She has written music for different groups 
      | (choirs, ensembles, solo pieces, electroacoustic pieces etc.) and 
      | an important part of her works are collaborations. She has worked 
      | together with artists and choreographs (M.Mäetamm, J.Samma, 
      | L.Drubingy, N.Mazic etc.) and made music for videos, installations 
      | and dance performances.
  //- .bio-image
