.contact-main.tab-hidden(onclick="")
  .contact-text
    p Johanna Kivimägi
    p johanna.kivimagi@gmail.com
    p 
      | Johanna Kivimägi is an American actress and model. 
      | Famous for playing comic "dumb blonde" characters, 
      | she became one of the most popular sex symbols of the 
      | 1950s and was emblematic of the era's attitudes 
      | towards sexuality. Although she was a top-billed 
      | actress for only a decade, her films have already grossed 
      | $200 million. She continues to be considered a 
      | major popular culture icon.
  .contact-image
