.contact-main.tab-hidden(onclick="")
  .contact-text
    p Johanna Kivimägi
    p johanna.kivimagi@gmail.com
    //- p 
    //-   | Johanna Kivimägi is an American actress and model. 
    //-   | Famous for playing comic "dumb blonde" characters, 
    //-   | she became one of the most popular sex symbols of the 
    //-   | 1950s and was emblematic of the era's attitudes 
    //-   | towards sexuality. Although she was a top-billed 
    //-   | actress for only a decade, her films have already grossed 
    //-   | $200 million. She continues to be considered a 
    //-   | major popular culture icon.
  .contact-image
  img(src="https://ln.syncusercontent.com/mfs-60:e558d0a1998c01dae3b2549582abb039=============================/p/j2.png?allowdd=0&datakey=FkoTArkhSeJ3y2RvmWSfzQ9/6UAvt6VRFNpPhZ33JFz5cjvfZ/zaDYwOeEii43SgmEB8nu3nCOAa8yr2gO/0u2+zCqASIfXzqdeq7489I8OT5RDIizwLFg9ExkngdCSiFPFq+oLg3wJVKFqgeOsDMjJP4p5I3o60GPP3PbBREYimgrUpmlX4+ldKm7wMjMTgKbDaArF67fm8rLvjAtVRQUXRcmPrH+qpiDgwOztCE+NiUkyTc4u1t09Ghs1FySK3rttmwfPm+SBfrZmpRSXM6P0m3ygwwoHM/qTlYXOmmPXmwfxk+FGJAyMiwj9h67M+5ljQWQRlPbZRLQ4as5wcDQ&engine=ln-2.6.10&errurl=HTAdUkESURtO/OdzWOcRy3ok9hKC2j2XqmX7+o8UQ7Juai6UaLJhsEHFwDJDPiOyDlk/Hc/QYlk8CxfPGarN6dylTUaiXo0ivev+q4c40JsYOVR+0gndB+3+W8U/LYPRhJ02hYCwG3NWBnI42BnQSmiKgREEfiJiVWQVKmP2qO5tNw7UNfp0dsU52HnLluMK0J+JGRU3Y4lX8dWj97rf1BqVsxvCeVEe5MiohHGbwjyZ2JrOHVCitZMrFtT+aoqJk9rL5Ay26vh/CkAXsXejwi66Ez8jUwC+pzdv2SxVNkWCvv3GRnZ3tYHviKRnGjjoJP2XKjB8/uUgBZEV9Rjgnw==&header1=Q29udGVudC1UeXBlOiBpbWFnZS9wbmc&header2=Q29udGVudC1EaXNwb3NpdGlvbjogaW5saW5lOyBmaWxlbmFtZT0iajIucG5nIg&ipaddress=ee60df12df856d8aad76954759b1928ae56475ef&linkcachekey=6f387e5d0&linkoid=332230002&mode=100&sharelink_id=4221071100002&timestamp=1508692527663&uagent=1993d703c71315fadd24f79c1a212f5143eab0f3&signature=48d24f3937cf6f4851935ae7fbff89acf2a44d14")
