.header(onclick="")
  .left-author
    h1 Johanna Kivimägi
    .sub-author
      h3 composer
  .header-nav
    .home-btn
      h3 Home
    .music-btn(onclick="")
      h3 Music
      .nav-music-sub
        h3 List of Works
        //- h3 Collaborations
    .audio-btn(onclick="")
      h3 Audio
      //- .nav-audio-sub
      //-   h3(onclick="" id="audio-sub-one") Audio üks
      //-   h3#audio-sub-two Audio kaks
    .multimedia-btn
      h3 Multimedia
      
    .contact-btn
      h3 Contact
      
.header-overlay-buttons.menu-hidden
  .mobile-home-btn
    h3 Home
  .mobile-music-btn
    h3 Music
  .mobile-audio-btn
    h3 Audio
  .mobile-multimedia-btn
    h3 Multimedia
  .mobile-contact-btn
    h3 Contact
.header-ham-wrap.ham-closed
  .header-ham-line#one
  .header-ham-line#two
  .header-ham-line#three
