//- .multimedia-overlay
.multimedia-main.tab-hidden(onclick="")
  .v-player-section
    .v-player-main
      video(src="https://ln.syncusercontentpro.com/mfs-60:2aedb336baff72caff91dbbe6570b58b=============================/p/vid2.mp4?allowdd=0&datakey=lcYW20acppPc6VNHWTTLlP1jlyFkNfOPCS6ZFrKUyi6hkPjmXtyAYF8WxvlXfKvBMHJ2zSuZ7KnhcVMyKdWF0Zega/mmVqXzxcEe9uWjepn31bFq/XIXukwOsgvGEKkfJ8hXHCXjKkxWYyp/sRbYMHK4xy4teFVCrNKWwObloLKwi9/Gq6ZSpFZPD+2yzh8V15tvdyShN2gcKUEeL5O9515pj1qoYSN6HuveHAqgiwb5mujtylF8DnzWqG62Wx3ABfQeUD+7cJ2fumsI3alP4IY38BJDFbvriuwuGDnz/bHCGflauQ+5eME3lVSm7YrdAyhO2ichlJPbSqcU5nvWyA&engine=ln-2.6.10&errurl=EXCS+YGYeUYfgyyjJjS44O/TAzxdtIakKb8BtQ73TvGQRxDsCpEFX0Y/xgOYPez54mPJjCPL6DemOFxNxD1Qx6PccBStufGr6IJozo5JUK5uZYZ70YNftTTZDk+Z3NSg37wBnFe8+TAwg5o28AISrbRd7uJZD0JxrNaVJM1TckdkyM+UJaacbyB8zmmD3Hp64h8e6C+CGeirol/aKpyVk7H8uFFbH3mJM2mp/zHe9xXiVthSDV0Neomo7TKDMKTl5QWfJW8zqEEXVqlophaPA+xfIbM6YEUsj1aKYLA8nPnx36+hl4WNX7s7hOf7XOKp5/kYWuGiWoEweCn24+IbQg==&header1=Q29udGVudC1UeXBlOiB2aWRlby9tcDQ&header2=Q29udGVudC1EaXNwb3NpdGlvbjogaW5saW5lOyBmaWxlbmFtZT0idmlkMi5tcDQi&ipaddress=9069cbebffff571b8f35825b6d54dcc978dcf74d&linkcachekey=bd49c5520&linkoid=332230002&mode=100&sharelink_id=4229024500002&timestamp=1508766128847&uagent=1993d703c71315fadd24f79c1a212f5143eab0f3&signature=96f1f814e900f84004d6daec7dcd96b0620c09c5" type="video/mp4" preload="metadata")
      .v-controls
        .v-buttons.v-buttons-paused
          .v-play-button
          .v-pause-button
          .v-loader
        .v-info-section
          .v-info-name
            p#v-info-title Ilus video
            p#v-info-author Johanna Kivimägi
          .v-info-time
            p 00:00 / 12:34
          .v-fullscreen-btn
      .v-distance-indicator
      .v-buffer-indicator
      
      
  
