//- .multimedia-overlay
.multimedia-main.tab-hidden(onclick="")
  .v-player-section#one
    .v-player-main
      video(id="vid17" volume="0.5" preload="metadata")
        source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/vid2.ogv" type='video/ogg; codecs="theora, vorbis"')
        source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/vid2.webm" type="video/webm")
        source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/vid2.mp4" type="video/mp4")
      .v-controls
        .v-buttons.v-buttons-paused
          .v-play-button
          .v-pause-button
          .v-loader
        .v-info-section
          .v-info-name
            p#v-info-title Wandering Stars
            //- p#v-info-author Johanna Kivimägi
          .v-info-time
            //- p 00:00 / 12:34
          .v-fullscreen-btn
        .v-distance-indicator
        .v-distance-full
      //- .v-distance-indicator
      //- .v-buffer-indicator
  .v-player-section#two
    .v-player-main
      video(id="vid17" volume="0.5" preload="metadata")
        source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/reflection.ogv" type='video/ogg; codecs="theora, vorbis"')
        source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/reflection.webm" type="video/webm")
        source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/reflection.mp4" type="video/mp4")
      .v-controls
        .v-buttons.v-buttons-paused
          .v-play-button
          .v-pause-button
          .v-loader
        .v-info-section
          .v-info-name
            p#v-info-title Reflection
            //- p#v-info-author Johanna Kivimägi
          .v-info-time
            //- p 00:00 / 12:34
          .v-fullscreen-btn
        .v-distance-indicator
        .v-distance-full
      
      
  
