//- .multimedia-overlay
.multimedia-main.tab-hidden(onclick="")
  .v-player-section#one
    .v-player-main
      video(id="vid17" volume="0.5" preload="metadata" poster="img/wandering_placeholder.jpg")
        source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/uus_video.webm" type="video/webm")
        source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/uus_video.ogv" type='video/ogg; codecs="theora, vorbis"')
        source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/uus_video.mp4" type="video/mp4")
      .v-controls
        .v-buttons.v-buttons-paused
          .v-button-container
            .v-play-button
            .v-pause-button
        .v-info-section
          .v-info-name
            p#v-info-title Wandering Stars
          .v-info-time
        .v-fullscreen-btn
          .v-fullscreen-icon
        .v-distance-indicator
        .v-distance-full
    .v-text
      p 
        | Wandering Stars (2016) by Lola Drubignys, sound by Johanna Kivimägi. 
        | 1h 4min, colour installation
        
  .v-player-section#two
    .v-player-main
      video(id="vid17" volume="0.5" preload="metadata" poster="img/reflection_placeholder.jpg")
        source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/reflection.ogv" type='video/ogg; codecs="theora, vorbis"')
        source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/reflection.webm" type="video/webm")
        source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/reflection.mp4" type="video/mp4")
      .v-controls
        .v-buttons.v-buttons-paused
          .v-button-container
            .v-play-button
            .v-pause-button
        .v-info-section
          .v-info-name
            p#v-info-title Reflection
          .v-info-time
        .v-fullscreen-btn
          .v-fullscreen-icon
        .v-distance-indicator
        .v-distance-full
    .v-text
      p 
        | Reflection (2017) for flute, electronics and video. 
        | Video by Valentin Siltsenko. Original sound 5.1.
      
      
  
