.performances-main.tab-hidden(onclick="")
  .performances-heading
    p Upcoming events
    
  .events-body
    .events-body-main
      .events-left
        p 31/05/19
        p 19:00
      .events-mid
        p Öös on hääled
      .events-right
        p Issanda Muutmise kirik
        p Tallinn
    .events-body-extra
      p New piece for vocal ensemble with electronics
      p Ansambel "Sinilind"
      
  .performances-heading.past
    p Past events
    
  .events-body
    .events-body-main
      .events-left
        p 27/04/19
        p 19:00
      .events-mid
        p Festival Commute
        p "Jõuda kohale. Olla rahus."
      .events-right
        p Eesti Muusika- ja Teatriakadeemia
        p Tallinn
    .events-body-extra
      p "Invisible light"
      p Ensemble Synaesthesis (Lithuania)
      p Video by Valentin Siltsenko
    
  .events-body
    .events-body-main
      .events-left
        p 08/03/19
        p 19:00
      .events-mid
        p "Clay and what follows: Part I"
      .events-right
        p Studio 45 / Künstlerhaus Wendenstrasse
        p Hamburg
    .events-body-extra
      p Video by Lola Drubigny
      p Curator: Carolin Jüngst
    
  .events-body
    .events-body-main
      .events-left
        p 21/10/18
        p 21:00
      .events-mid
        p Treffpunkt #3
      .events-right
        p Heliose kino
        p Tallinn
    .events-body-extra
      p "Radiance"
      p For electronics
    
  .events-body
    .events-body-main
      .events-left
        p 06/09/18
      .events-mid
        a(href="https://gaudeamus.nl/en/" target="_blank") Gaudeamus Muziekweek 2018
      .events-right
        p Tivolivredenburg
        p Utrecht
    .events-body-extra
      p "Becoming The Flow"
      p Germanie Sijstermans (bass clarinet)

  .events-body
    .events-body-main
      .events-left
        p 29/08/18
      .events-mid
        a(href="https://www.cultura-nova.nl/en/voorstellingen/germaine-sijstermans-muziek-en-installatie-op-het-maanplein/" target="_blank") Cultura Nova
      .events-right
        p Maankvartier
        p Netherlands
    .events-body-extra
      p "Becoming The Flow"
      p Germanie Sijstermans (bass clarinet)

  .events-body
    .events-body-main
      .events-left
        p 19/07/18
      .events-mid
        a(href="http://www.nycemf.org/2018-festival/" target="_blank") New York City Electroacoustic Music Festival 2018
      .events-right
        p Abrons Arts Centre
        p New York
    .events-body-extra
      p "Reflection"
      p Gianni Trovalusci (flute)
    
  .events-body
    .events-body-main
      .events-left
        p 09/05/18
      .events-mid
        a(href="http://www.ema.edu.ee/event/uudisloomingu-kontsert-2/" target="_blank") Uudisloomingu kontsert
      .events-right
        p Metodisti kirik
        p Tallinn
    .events-body-extra
      p "Falling into place"
      p For electronics
    
  .events-body
    .events-body-main
      .events-left
        p 08/05/18
      .events-mid
        p Springtime Study Concerts
      .events-right
        p Università degli Studi di Roma Tor Vergata
        p Rome
    .events-body-extra
      p "Reflection"
      p Gianni Trovalusci (flute)
    
  .events-body
    .events-body-main
      .events-left
        p 13/04/18
      .events-mid
        a(href="http://www.eestimuusikapaevad.ee/kava/elusate-helide-maja-2/" target="_blank") Eesti Muusika Päevad
        p 
          a(href="http://www.eestimuusikapaevad.ee/kava/elusate-helide-maja-2/" target="_blank") Elusate Helide Maja
      .events-right
        p EMTA kammersaal
        p Tallinn
    .events-body-extra
      p "Muutuda, et jääda samaks"
      p Ensemble L'Arsenale
    
  .events-body
    .events-body-main
      .events-left
        p 07/12/17 - 10/12/17
      .events-mid
        p inSonic2017
      .events-right
        p ZKM
        p Karlsruhe
    .events-body-extra
      p "Reflection" (installation)  
      
  .events-body
    .events-body-main
      .events-left
        p 01/06/17
      .events-mid
        p Noorte Heliloojate Labor
        p Treffpunkt 2
      .events-right
        p Kohvik 7C
        p Tallinn
    .events-body-extra
      p "Muundumine"
      p Elle-Riin Volmer (piano)
      p Johanna Kivimägi (electronics)
      
  .events-body
    .events-body-main
      .events-left
        p 11/04/17
      .events-mid
        p Eesti Muusika Päevad
        p Vältimatult Valgusesse
      .events-right
        p Kino Sõprus
        p Tallinn
    .events-body-extra
      p "Reflection"
      p Gianni Trovalusci (flute)
      

  .events-body
    .events-body-main
      .events-left
        p 07/04/17
      .events-mid
        p Eesti Muusika Päevad
        p Elusate Helide maja
      .events-right
        p EMTA kammersaal
        p Tallinn
    .events-body-extra
      p "Sära"
      p EMTA Sinfonietta
      p Conductor Toomas Vavilov
      

      

      

  
