.performances-main.tab-hidden(onclick="")
  .performances-heading
    p Upcoming events
      
  .events-body
    .events-body-main
      .events-left
        p 16/07/18 - 22/07/18
      .events-mid
        //- p New York City Electroacoustic Music Festival
        a(href="http://www.abronsartscenter.org/on-stage/shows/nycemf-2017/" target="_blank") New York City Electroacoustic Music Festival
      .events-right
        p Abrons Arts Centre
        p New York
    .events-body-extra
      p Gianni Trovalusci (flute)
      p "Reflection"
      
  .performances-heading.past
    p Past events
    
  .events-body
    .events-body-main
      .events-left
        p 09/05/18
      .events-mid
        //- p Uudisloomingu kontsert
        a(href="http://www.ema.edu.ee/event/uudisloomingu-kontsert-2/" target="_blank") Uudisloomingu kontsert
      .events-right
        p Metodisti kirik
        p Tallinn
    .events-body-extra
      p "Falling into place"
      p elektroonikale
    
  .events-body
    .events-body-main
      .events-left
        p 08/05/18
      .events-mid
        p Rooma kontsert
      .events-right
        p Università degli Studi di Roma Tor Vergata
        p Rome
    .events-body-extra
      p Gianni Trovalusci (flute)
      p "Reflection"
    
  .events-body
    .events-body-main
      .events-left
        p 13/04/18
      .events-mid
        p Estonian Music Days (EMP)
      .events-right
        p EMTA kammersaal
        p Tallinn
    .events-body-extra
      p Ensemble Arsenale
      p "Muutuda, et jääda samaks"
    
  .events-body
    .events-body-main
      .events-left
        p 07/12/17 - 10/12/17
      .events-mid
        p inSonic2017
      .events-right
        p ZKM
        p Karlsruhe
    .events-body-extra
      p "Reflection" (installation)  
      
  .events-body
    .events-body-main
      .events-left
        p 01/06/17
      .events-mid
        p Noorte Heliloojate Labor
        p Treffpunkt 2
      .events-right
        p Kohvik 7C
        p Tallinn
    .events-body-extra
      p Elle-Riin Volmer (piano)
      p Johanna Kivimägi (electronics)
      p "Muundumine"
  
  .events-body
    .events-body-main
      .events-left
        p 07/04/17
      .events-mid
        p Eesti Muusika Päevad
        p Elusate Helide maja
      .events-right
        p EMTA kammersaal
        p Tallinn
    .events-body-extra
      p EMTA Sinfonietta
      p Conductor Toomas Vavilov
      p "Sära"
      

      

      

  
