//- .bg-image
.players-wrapper-main.tab-hidden(onclick="")
  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="audio/Creep.mp3" type="audio/mpeg")
      .info-section
        .info-name
          p#info-title Muundumine
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text

  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="http://www.mediafire.com/file/x4hu4rmboa161id/Reflection_%2812.09.3%29.wav" type="audio/wav" preload="metadata")
      .info-section
        .info-name
          p#info-title Reflection
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
  
  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="http://www.mediafire.com/file/pcft6yncihf4fw9/S%C3%A4ra%28J.Kivim%C3%A4gi%29.wav" type="audio/wav" preload="metadata")
      .info-section
        .info-name
          p#info-title Sära
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
      
  
  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="http://www.mediafire.com/file/7hvdd72i3h9axgt/Aria%28_The_Chairman_.wav" type="audio/wav" preload="metadata")
      .info-section
        .info-name
          p#info-title Aria
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
  
  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="audio/Strong.mp3" type="audio/mpeg" preload="metadata")
      .info-section
        .info-name
          p#info-title Unekujud
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text

  .player-section    
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="http://www.mediafire.com/file/sdhix3g9d4edog7/08_Dona_nobis_pacem.wav" type="audio/wav" preload="metadata")
      .info-section
        .info-name
          p#info-title Dona nobis pacem
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
  
  
