.player-main.tab-visible
  .play-pause-wrapper.play-btn-paused
    .play-button
    .pause-button
  .info-section
    .info-name
      p#info-title Wonderwall
      p#info-author Johanna Kivimägi
    .info-time
      p 2:05 / 8:32
  .distance-indicator
  //- audio(src="audio/Strong.mp3" type="audio/mpeg")
  
  
