//- .bg-image
.players-wrapper-main.tab-hidden(onclick="")
  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="audio/Creep.mp3" type="audio/mpeg")
      .info-section
        .info-name
          p#info-title Muundumine
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text

  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="http://www.mediafire.com/file/x4hu4rmboa161id/Reflection_%2812.09.3%29.wav" type="audio/wav" preload="metadata")
        //- audio(src="audio/Reflection (12.09.3).wav" type="audio/wav" preload="metadata")
      .info-section
        .info-name
          p#info-title Reflection
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
  
  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="http://www.mediafire.com/file/pcft6yncihf4fw9/S%C3%A4ra%28J.Kivim%C3%A4gi%29.wav" type="audio/wav" preload="metadata")
        //- audio(src="audio/Sära(J.Kivimägi).wav" type="audio/wav" preload="metadata")
      .info-section
        .info-name
          p#info-title Sära
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
      
  
  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="http://www.mediafire.com/file/7hvdd72i3h9axgt/Aria%28_The_Chairman_.wav" type="audio/wav" preload="metadata")
        //- audio(src="audio/Aria(_The Chairman_.wav" type="audio/wav" preload="metadata")
      .info-section
        .info-name
          p#info-title Aria
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
  
  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="audio/Strong.mp3" type="audio/mpeg" preload="metadata")
      .info-section
        .info-name
          p#info-title Unekujud
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text

  .player-section    
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="https://ln.syncusercontent.com/mfs-60:bd60c23d4a692e03a9cb1a4997e95d8b=============================/p/08%20Dona%20nobis%20pacem.wav?allowdd=0&datakey=nL0HSK8CYx7c/qtEvFJ82YLqjYZoBU2eghaHzR9vtiyNN4i4laQ6HbxTudrqWTwQIM5/b/0rYGrqKqS+VpXW3tZvk9bUjenOR+OEmpEOo9ZBc3Nt1hZ+Sz08SVvjzXuBM3sRblRtYdYtUjyHYooUw0aC+sCmwPcQRiaHs+cjLIYlHV5HGKYfLGyA4LJR+Z+gNM2Lhs7KmNYymj9Tg0vxxlWEFHiX02kr2aVT0Lj28AxT5+VZy6qn5YPne6SU63eGDIv3Jo23CLTyFyyg2x+P+xpSmn3hpciF790VwhXCi1emiEL2FXoxYzTG8z0i3eLXpic9PYI8tWkpBczoB4L3yw&engine=ln-2.6.10&errurl=Z6W57HJHpno5EHhnAGcjsWUDmw7ELCc+LUFfiUVOlk1K3eU5qdjvKahyARzhjpuo5WgaBnxvqLta9Ua2Mu/Wk62uRF/8eDCIV68MH7xEnwZQfVX5QDbBnLxgdwJOw0+oI4M3PV8ASVzi2C9wCWw+mOmJPdeIKtO8IrUmKnTXbCBODm3LzwR1VBtFos8NWnwEeBqyIlXV59YiiYh/Couu3gOv12LqxPSEyPFwQkKIP7a2qISlNK3BWr6kkpvjhnEuZ/WwFcoTuSo4j91SO8ng4XVOftRGTzU59kmSK1d//rNiT3O7wlILvCLvTIQzvNLeBqHRSX/xT9zWH7R67+cn2g==&header1=Q29udGVudC1UeXBlOiBhdWRpby94LXdhdg&header2=Q29udGVudC1EaXNwb3NpdGlvbjogaW5saW5lOyBmaWxlbmFtZT0iMDggRG9uYSBub2JpcyBwYWNlbS53YXYi&ipaddress=9069cbebffff571b8f35825b6d54dcc978dcf74d&linkcachekey=23c16dfb0&linkoid=332230002&mode=100&sharelink_id=4228083690002&timestamp=1508761375921&uagent=1993d703c71315fadd24f79c1a212f5143eab0f3&signature=3f2b0ea20c595254dcdeccf3da2c769d933ac1e3" type="audio/wav" preload="metadata")
      .info-section
        .info-name
          p#info-title Dona nobis pacem
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
  
  
