.players-wrapper
  .player-main.tab-visible
    .audio-wrapper.play-btn-paused
      .play-button
      .pause-button
      audio(src="audio/Creep.mp3" type="audio/mpeg")
    .info-section
      .info-name
        p#info-title Creep
        p#info-author Johanna Kivim채gi
      .info-time
    .distance-indicator
    
  .player-main.tab-visible
    .audio-wrapper.play-btn-paused
      .play-button
      .pause-button
      audio(src="audio/Retrograde.mp3" type="audio/mpeg" preload="metadata")
    .info-section
      .info-name
        p#info-title Retrograde
        p#info-author Johanna Kivim채gi
      .info-time
    .distance-indicator
  
  .player-main.tab-visible
    .audio-wrapper.play-btn-paused
      .play-button
      .pause-button
      audio(src="audio/Wonderwall.mp3" type="audio/mpeg" preload="metadata")
    .info-section
      .info-name
        p#info-title Wonderwall
        p#info-author Johanna Kivim채gi
      .info-time
    .distance-indicator
    
  .player-main.tab-visible
    .audio-wrapper.play-btn-paused
      .play-button
      .pause-button
      audio(src="audio/Strong.mp3" type="audio/mpeg" preload="metadata")
    .info-section
      .info-name
        p#info-title Strong
        p#info-author Johanna Kivim채gi
      .info-time
    .distance-indicator
  
  
