.players-wrapper
  .player-main
    .audio-wrapper.play-btn-paused
      .play-button
      .pause-button
      audio(src="audio/Creep.mp3" type="audio/mpeg")
    .info-section
      .info-name
        p#info-title Creep
        p#info-author Johanna Kivimägi
      .info-time
    .distance-indicator
    
  .player-main
    .audio-wrapper.play-btn-paused
      .play-button
      .pause-button
      audio(src="audio/Creep.mp3" type="audio/mpeg")
    .info-section
      .info-name
        p#info-title Creep
        p#info-author Johanna Kivimägi
      .info-time
    .distance-indicator
    
  .player-main
    .audio-wrapper.play-btn-paused
      .play-button
      .pause-button
      audio(src="audio/Retrograde.mp3" type="audio/mpeg" preload="metadata")
    .info-section
      .info-name
        p#info-title Retrograde
        p#info-author Johanna Kivimägi
      .info-time
    .distance-indicator
    
  .player-main
    .audio-wrapper.play-btn-paused
      .play-button
      .pause-button
      audio(src="audio/Retrograde.mp3" type="audio/mpeg" preload="metadata")
    .info-section
      .info-name
        p#info-title Retrograde
        p#info-author Johanna Kivimägi
      .info-time
    .distance-indicator
  
  .player-main
    .audio-wrapper.play-btn-paused
      .play-button
      .pause-button
      audio(src="audio/Wonderwall.mp3" type="audio/mpeg" preload="metadata")
    .info-section
      .info-name
        p#info-title Wonderwall
        p#info-author Johanna Kivimägi
      .info-time
    .distance-indicator
    
  .player-main
    .audio-wrapper.play-btn-paused
      .play-button
      .pause-button
      audio(src="audio/Wonderwall.mp3" type="audio/mpeg" preload="metadata")
    .info-section
      .info-name
        p#info-title Wonderwall
        p#info-author Johanna Kivimägi
      .info-time
    .distance-indicator
    
  .player-main
    .audio-wrapper.play-btn-paused
      .play-button
      .pause-button
      audio(src="audio/Strong.mp3" type="audio/mpeg" preload="metadata")
    .info-section
      .info-name
        p#info-title Strong
        p#info-author Johanna Kivimägi
      .info-time
    .distance-indicator
    
  .player-main
    .audio-wrapper.play-btn-paused
      .play-button
      .pause-button
      audio(src="audio/Strong.mp3" type="audio/mpeg" preload="metadata")
    .info-section
      .info-name
        p#info-title Strong
        p#info-author Johanna Kivimägi
      .info-time
    .distance-indicator
    
  .player-main
    .audio-wrapper.play-btn-paused
      .play-button
      .pause-button
      audio(src="http://www.mediafire.com/file/d3c0k7c699n999h/HeadUnd.wav" type="audio/vnd.wav" preload="metadata")
    .info-section
      .info-name
        p#info-title Headund
        p#info-author Johanna Kivimägi
      .info-time
    .distance-indicator
    
  .player-main
    .audio-wrapper.play-btn-paused
      .play-button
      .pause-button
      audio(src="http://www.mediafire.com/file/uvv3oak5rhjuk2h/Vokaal.wav" type="audio/vnd.wav" preload="metadata")
    .info-section
      .info-name
        p#info-title Vokaal
        p#info-author Johanna Kivimägi
      .info-time
    .distance-indicator
  
  
