
.players-wrapper-main.tab-hidden(onclick="")

  .player-section#radiance
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio
          source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/RadianceStereo17.9.18.wav" type="audio/wav" preload="metadata")
          source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/RadianceStereo17.9.18.mp3" type="audio/mpeg" preload="metadata")
      .info-section
        .info-name
          p#info-title Radiance
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
      p
        | Radiance (2018) is electronic piece that is originally made for four speakers.
        | The piece was premiered on 21.10.2018 in Helios cinema in Tallinn

  .player-section#falling-into-place
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio
          source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/FallingIntoPlace(15_05_18_2).wav" type="audio/wav" preload="metadata")
          source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/FallingIntoPlace(15_05_18_2).mp3" type="audio/mpeg" preload="metadata")
      .info-section
        //- .info-waveform#dona
        .info-name
          p#info-title Falling into place
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
      p
        | Falling into place (2018) for electronics (originally for quadrophonic speaker setting)

  .player-section#muutuda-et-jaada-samaks
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio
          source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/ArsenaleStereo(14_05_18_3).wav" type="audio/wav" preload="metadata")
          source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/ArsenaleStereo(14_05_18_3).mp3" type="audio/mpeg" preload="metadata")
      .info-section
        //- .info-waveform#dona
        .info-name
          p#info-title Muutuda, et jääda samaks
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
      p
        | Muutuda, et jääda samaks (2018) for soprano, alto saxophone, electric guitar, 
        | accordion, piano and electronics (originally quadrophonic setting). Performed by 
        | Ensemble Arsenale in Estonian Music Days concert "Elusate helide maja" in 2018. ​

  .player-section#muundumine
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio
          source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/Muundumine(15_05_2018).wav" type="audio/wav" preload="metadata")
          source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/Muundumine(15_05_2018).mp3" type="audio/mpeg" preload="metadata")
      .info-section
        //- .info-waveform#muundumine
        .info-name
          p#info-title Muundumine
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
      p 
        | Muundumine (2017) is a piece for piano and electronics for quadrophonic speaker setting. 
        | Premiere 1.06.2017, kohvik 7C, performed by Elle-Riin Volmer (piano) and Johanna Kivimägi 
        | (electronics). This recording is a stereo version of the piece.<br/><br/> 
        | Piano - Elle-Riin Volmer.
  
  .player-section#reflection
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio
          source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/Reflection+(12.09.3).wav" type="audio/wav" preload="metadata")
          source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/Reflection+(12.09.3).mp3" type="audio/mpeg" preload="metadata")
      .info-section
        //- .info-waveform#reflection
        .info-name
          p#info-title Reflection
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
      p
        | Reflection (2017) is a piece for flute, electronics (5.1 speaker setting) and video. Video is 
        | made by Valentin Siltsenko. It is originally written to perform with live flute, 
        | electronics (first version was in stereo) and interactive video. There is also 
        | an installation version where all the media is fixed (it was made for inSonic2017 festival that took 
        | place in december 2017 at ZKM in Karlsruhe). The electronic part is made out of prerecorded flute 
        | sounds of the same material as the flute part. <br/> 
        | Premiere 11.01.2017 in Tallinn, Sõprus cinema, performed by Gianni Trovalusci (flute). Recorded 9.04.2017 in Tallinn.<br/><br/>
        | Flute - Gianni Trovalusci<br/>
        | Flute on electronics - Tarmo Johannes

  .player-section#sara
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio
          source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/S%C3%A4ra(J.Kivim%C3%A4gi).wav" type="audio/wav" preload="metadata")
          source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/S%C3%A4ra(J.Kivim%C3%A4gi).mp3" type="audio/mpeg" preload="metadata")
      .info-section
        //- .info-waveform#s2ra
        .info-name
          p#info-title Sära
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
      p
        | Sära (2017) is a piece for big ensemble, performed by Sinfonietta, conductor Toomas Vavilov. 
        | Premiere 7.04.2017 in Tallinn, Estonian Music Days. This is a recording of the premiere.
  
  .player-section#aria
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio
          source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/Aria(_The+Chairman_.wav" type="audio/wav" preload="metadata")
          source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/Aria(_The+Chairman_.mp3" type="audio/mpeg" preload="metadata")
      .info-section
        //- .info-waveform#aria
        .info-name
          p#info-title Aria
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
      p
        | Aria (2014) is for tenor, horn and piano. It is written for Jaanus Samma’s work “NSFW. 
        | A CHAIRMAN’S TALE” and is part of the exhibition.<br/><br/>
        | Tenor - Valter Soosalu<br/>
        | Horn - Rait Erikson<br/>
        | Piano - Johanna Kivimägi<br/>
        | Lyrics - Maarja Kangro
  
  .player-section#dona-nobis-pacem
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio
          source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/Dona_nobis_pacem.wav" type="audio/wav" preload="metadata")
          source(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/j/Dona_nobis_pacem.mp3" type="audio/mpeg" preload="metadata")
      .info-section
        //- .info-waveform#dona
        .info-name
          p#info-title Dona nobis pacem
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
      p
        | Dona nobis pacem (2014) is written for female choir Kammerhääled (conductor Igrid Roose) 
        | for their concert tour in summer 2014 in Estonia. This a concert recording from the same tour.
