.player-main.tab-visible
  .audio-wrapper.play-btn-paused
    .play-button
    .pause-button
    audio(src="audio/Strong.mp3" type="audio/mpeg")
  .info-section
    .info-name
      p#info-title Wonderwall
      p#info-author Johanna Kivimägi
    .info-time
      p
        span 00:00
        span / 
        span 00:00
  .distance-indicator
  //- audio(src="audio/Strong.mp3" type="audio/mpeg")
  
  
