//- .bg-image
.players-wrapper-main.tab-hidden(onclick="")
  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="audio/Creep.mp3" type="audio/mpeg")
      .info-section
        .info-waveform#muundumine
        .info-name
          p#info-title Muundumine
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text

  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/Reflection+(12.09.3).wav" type="audio/wav" preload="metadata")
      .info-section
        .info-waveform#reflection
        .info-name
          p#info-title Reflection
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
  
  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/S%C3%A4ra(J.Kivim%C3%A4gi).wav" type="audio/wav" preload="metadata")
      .info-section
        .info-waveform#s2ra
        .info-name
          p#info-title Sära
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
      
  
  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/Aria(_The+Chairman_.wav" type="audio/wav" preload="metadata")
      .info-section
        .info-waveform#aria
        .info-name
          p#info-title Aria
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
  
  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/Unekujud.wav" type="audio/wav" preload="metadata")
      .info-section
        .info-waveform#unekujud
        .info-name
          p#info-title Unekujud
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text

  .player-section    
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="https://s3.eu-west-2.amazonaws.com/j-bucket0092/Dona_nobis_pacem.wav" type="audio/wav" preload="metadata")
      .info-section
        .info-waveform#dona
        .info-name
          p#info-title Dona nobis pacem
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
  
  
