.bg-image
.players-wrapper-main.tab-hidden(onclick="")
  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="audio/Creep.mp3" type="audio/mpeg")
      .info-section
        .info-name
          p#info-title Muundumine
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text

  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="audio/Creep.mp3" type="audio/mpeg")
      .info-section
        .info-name
          p#info-title Reflection
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
  
  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="audio/Retrograde.mp3" type="audio/mpeg" preload="metadata")
      .info-section
        .info-name
          p#info-title Sära
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
      
  
  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="audio/Retrograde.mp3" type="audio/mpeg" preload="metadata")
      .info-section
        .info-name
          p#info-title Aria
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
  
  .player-section
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="audio/Strong.mp3" type="audio/mpeg" preload="metadata")
      .info-section
        .info-name
          p#info-title Unekujud
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text

  .player-section    
    .player-main
      .audio-wrapper.play-btn-loading
        .play-button
        .pause-button
        .loader
        audio(src="audio/Strong.mp3" type="audio/mpeg" preload="metadata")
      .info-section
        .info-name
          p#info-title Dona nobis pacem
          p#info-author Johanna Kivimägi
        .info-time
      .distance-indicator
      .buffer-indicator
    .player-text
    
  //- .player-main
  //-   .audio-wrapper.play-btn-loading
  //-     .play-button
  //-     .pause-button
  //-     .loader
  //-     audio(src="https://www.mediafire.com/file/d3c0k7c699n999h/HeadUnd.wav" type="audio/vnd.wav" preload="metadata")
  //-   .info-section
  //-     .info-name
  //-       p#info-title Headund
  //-       p#info-author Johanna Kivimägi
  //-     .info-time
  //-   .distance-indicator
  //-   .buffer-indicator
    
  //- .player-main
  //-   .audio-wrapper.play-btn-loading
  //-     .play-button
  //-     .pause-button
  //-     .loader
  //-     audio(src="https://www.mediafire.com/file/uvv3oak5rhjuk2h/Vokaal.wav" type="audio/vnd.wav" preload="metadata")
  //-   .info-section
  //-     .info-name
  //-       p#info-title Vokaal
  //-       p#info-author Johanna Kivimägi
  //-     .info-time
  //-   .distance-indicator
  //-   .buffer-indicator
    
  
  
