<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Johanna Kivimägi
  link(rel="stylesheet", href="style.css")
  //- link(rel='icon', href='favicon.ico')
  link(rel="icon" href="http://www.mediafire.com/file/8ptvcv7f6j7s3vx/favicon.ico" type="image/x-icon")
  link(rel="shortcut icon" href="http://www.mediafire.com/file/8ptvcv7f6j7s3vx/favicon.ico" type="image/x-icon")
body(onclick="")
  .preloader
    .status
  include jade/_header.jade
  include jade/_bio.jade
  include jade/_multimedia.jade
  include jade/_player.jade
  include jade/_home.jade
  include jade/_contact.jade
  
  script(src="script/jquery-3.2.1.min.js")
  script(src="script/script-min.js")
