<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Johanna Kivimägi
  link(rel="stylesheet", href="style.css")
  //- link(rel='icon', href='favicon.ico')
  link(rel="icon" href="https://ln.syncusercontentpro.com/mfs-60:a25c0c461528dc8655af0b71fbfa459f=============================/p/favicon.ico?allowdd=0&datakey=ixeUqSEe6RbFMFnGvhvxwXbaP/PG60JSMxRlhQul0ZZqG6rTUqsli0FmC2MqC3/AtNWrjgWlxZNVCqXvNtkyhW9Bli7ezuGt9tjshjLfXdaypr1TieocDay4h4GeaidDyIfoWH93zHrzKQrwq8jHJXCri7v7x4qJQ45ZCl83ZbthhgA1OVSHnhC0HdVtCwLhe1gzjE2S3UYfQRHfTIDD0MFBKAl/Ga3i5EGDoendKgqmtrhkNTw/l9kPR26ti9UJhenmC1hETj5+3hLW3qVeDierBoC+GT/vrZlAR8ajlTt7am84bh8LERM+eJJ6T+WrU0y4Vo5m3U78YpiWaTSK1Q&engine=ln-2.6.10&errurl=QjWDZzjuSlpT5o8MDXMx38dVyX2Gy4dxBNRSdozBqJf66FruiF0adqD81objJWYVzFMvIvGUpP0DcbmkTsGbhb9WB+5Xh2ZRxhwzo8OWQ6xIiEyak0B8xez0ecc4LWLFoIktpE/xLaOtGax0rMACqhwEORyFDNQNMADFxTqrKpEGzu16pwZQl2QRxF6V76kUyKgekstTcDUg05vNNL4BBQbfAVWGk7eS6dExcqtAdOvTZ64XDvcsNyrEUm/lmZQ6vxXy+Vr6a5/R+/y0RkjtsVxjqI81Y5wTmIKXJi9nxQA2aCgiqK+I5TsAJ7vN0mQexagOJz4/HBNazgaTv/PYMw==&header1=Q29udGVudC1UeXBlOiBpbWFnZS92bmQubWljcm9zb2Z0Lmljb24&header2=Q29udGVudC1EaXNwb3NpdGlvbjogaW5saW5lOyBmaWxlbmFtZT0iZmF2aWNvbi5pY28i&ipaddress=9069cbebffff571b8f35825b6d54dcc978dcf74d&linkcachekey=8135ed970&linkoid=332230002&mode=100&sharelink_id=4230049690002&timestamp=1508769838823&uagent=1993d703c71315fadd24f79c1a212f5143eab0f3&signature=1cd2990dfec674ea477968112cb35ceff3415c53" type="image/x-icon")
  link(rel="shortcut icon" href="https://ln.syncusercontentpro.com/mfs-60:a25c0c461528dc8655af0b71fbfa459f=============================/p/favicon.ico?allowdd=0&datakey=ixeUqSEe6RbFMFnGvhvxwXbaP/PG60JSMxRlhQul0ZZqG6rTUqsli0FmC2MqC3/AtNWrjgWlxZNVCqXvNtkyhW9Bli7ezuGt9tjshjLfXdaypr1TieocDay4h4GeaidDyIfoWH93zHrzKQrwq8jHJXCri7v7x4qJQ45ZCl83ZbthhgA1OVSHnhC0HdVtCwLhe1gzjE2S3UYfQRHfTIDD0MFBKAl/Ga3i5EGDoendKgqmtrhkNTw/l9kPR26ti9UJhenmC1hETj5+3hLW3qVeDierBoC+GT/vrZlAR8ajlTt7am84bh8LERM+eJJ6T+WrU0y4Vo5m3U78YpiWaTSK1Q&engine=ln-2.6.10&errurl=QjWDZzjuSlpT5o8MDXMx38dVyX2Gy4dxBNRSdozBqJf66FruiF0adqD81objJWYVzFMvIvGUpP0DcbmkTsGbhb9WB+5Xh2ZRxhwzo8OWQ6xIiEyak0B8xez0ecc4LWLFoIktpE/xLaOtGax0rMACqhwEORyFDNQNMADFxTqrKpEGzu16pwZQl2QRxF6V76kUyKgekstTcDUg05vNNL4BBQbfAVWGk7eS6dExcqtAdOvTZ64XDvcsNyrEUm/lmZQ6vxXy+Vr6a5/R+/y0RkjtsVxjqI81Y5wTmIKXJi9nxQA2aCgiqK+I5TsAJ7vN0mQexagOJz4/HBNazgaTv/PYMw==&header1=Q29udGVudC1UeXBlOiBpbWFnZS92bmQubWljcm9zb2Z0Lmljb24&header2=Q29udGVudC1EaXNwb3NpdGlvbjogaW5saW5lOyBmaWxlbmFtZT0iZmF2aWNvbi5pY28i&ipaddress=9069cbebffff571b8f35825b6d54dcc978dcf74d&linkcachekey=8135ed970&linkoid=332230002&mode=100&sharelink_id=4230049690002&timestamp=1508769838823&uagent=1993d703c71315fadd24f79c1a212f5143eab0f3&signature=1cd2990dfec674ea477968112cb35ceff3415c53" type="image/x-icon")
body(onclick="")
  .preloader
    .status
  include jade/_header.jade
  include jade/_bio.jade
  include jade/_multimedia.jade
  include jade/_player.jade
  include jade/_home.jade
  include jade/_contact.jade
  
  script(src="script/jquery-3.2.1.min.js")
  script(src="script/script-min.js")
