<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Johanna Kivim채gi
  link(rel="stylesheet", href="style.css")
body
  .header
    .left-author
      h1 Johanna Kivim채gi
      .sub-author
        h3 composer
    .header-nav
      .home-btn
        h3 Home
      .music-btn
        h3 Music
        .nav-music-sub
          h3 List of Works
          h3 Collaborations
      .audio-btn
        h3 Audio
        .nav-audio-sub
          h3 Audio 체ks
          h3 Audio kaks
      .multimedia-btn
        h3 Multimedia
        
      .contact-btn
        h3 Contact
  .main-wrap
    h1 Johanna Kivim채gi
    .j-main-image
    p jkivimagi@gmail.ee
  
