body,html
  background: rgb(53, 191, 152)
  display: flex
  height: 100%
  width: 100%
  justify-content: center
  align-items: center

.main-wrap
  background: pink
  width: 50%
  height: 80%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.j-main-image
  background: green
  height: 80%
  width: 50%
  background-image: url("j_pilt.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover


@media screen and (max-width: 550px)
  .main-wrap
    width: 80%

@media screen and (max-width: 350px)
  .main-wrap
    width: 100%
